<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,
          user-scalable=no,
          initial-scale=1.0,
          maximum-scale=1.0,
          minimum-scale=1.0"
    >
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<style>
    :root{
        --bg-header:#333;
        --color-header:whitesmoke;
        --container:95%;
        --color-header-active: #007aff;
        --main-bg:lightgray;
    }

    *{
        padding: 0;
        margin: 0;
        list-style: none;
        text-decoration: none;
        box-sizing: border-box;
    }
    body{
        display: flex;
        flex-direction: column;
        background-color: var(--main-bg);
    }
    main{
        flex:1;
        min-height: 100vh;
    }
    section{
        min-height: 100vh;
    }
</style>
<body>
{{> header }}
<main>
    {{{ body }}}
</main>
{{> footer}}

<script src="/js/index.js"></script>
</body>
</html>