<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Alex Voronov</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
<header>
    <nav>
        <ul>
            <li><a href="/">home</a></li>
            <li><a href="/about">about me</a></li>
            <li><a href="/portfolio">portfolio</a></li>
            <li><a href="/contact">contact</a></li>
            <li><a href="/resume">resume</a></li>
        </ul>
    </nav>
</header>
<main>
    {{{ body }}}
</main>
<footer>
    <h6>
        Copyright ©2021 My Portfolio by Alex Voronov.
    </h6>
</footer>
<script src="/js/index.js"></script>
</body>
</html>